@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;700&family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
    margin: 1rem;
    padding: 0%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container h1{
    font-family: 'Poppins';
    color: #2D9CDB;
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
}

.contextos{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.container-contexto {
    display: flex;
    flex-direction: column;
    width: 15rem;
    height: 20rem;
    background: #eeeaea;
}


.container-contexto h1{
    color: #767676;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 1rem;
}

.container-contexto p{
    color: #767676;
    width: 10rem;
    height: 8rem;
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 1rem;
}


.container-diagrama {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.container-diagrama h2{
    font-family: 'Poppins';
    color: #2D9CDB;
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    align-items: center;
}

.container-foto {
    display: flex;
    width: fit-content;
    height: 28rem;
    align-items: center;
    margin-left: 1rem;
}