@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;700&family=Righteous&family=Sarala:wght@400;700&display=swap');

.sobrenosContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.sobrenosImg{
    
    width: 522px;
    height: 492px;
    left: 68px;
   
}

.sobrenosText{
    width: 610px;
    height: 312px;
    left: 635px;
    top: 227px;
    font-family: 'DM Sans', sans-serif;
    display: flex;
    flex-direction: column;
    
}

.sobrenosText-tilulo {
    font-family: 'Poppins';
    color: #2D9CDB;
    font-weight: 700;
    font-size: 40px;

}

